.amp-page {
  font-family: arial;
  font-size: 14px;
  color: #1f2123;

  .main {
    display: grid;

    .section {
      padding-bottom: 25px;
      border-bottom: 1px solid #edeff1;
      margin-bottom: 8px;

      &.padding {
        padding: 10px;
      }
    }

    .sub-section {
      margin-bottom: 10px;
    }

    .social-images {
      margin-bottom: 5px;
    }
  }

  .heading {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: 400;
  }
}
